
$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden;
    background-color: rgb(41,41,41); /* Fallback color */
    background: rgba(41, 41, 41, 0.6);
  }
  
  /* Modal Content */
  .modal-content {
    display: flex;


    position: relative;
    background-color: $color-light-s;
    color: black;
    margin: auto;
    width: 900px;
    height: 500px;
    border-radius: 9px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    
    
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        width: 630px;
        height: 350px;
    }
  
    @media screen and (max-width: 767px) {
      width: 240px;
      height: 460px;
    }
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    width: 52px;
    height: 52px;
    right: -42px;
    top: -52px;
    font-size: 28px;

    border: 2px solid $color-primary;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: transparent;

    transition: 0.6s ease;

    @media screen and (max-width: 767px) {
      right: -32px;
    }
    
}
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    background-color: $color-primary;
  }

#pet__more__info {
    list-style-type: none;

    li::before {
        content: "\2022";
        color: $color-primary;
        font-weight: bold;
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em;
    }
}

.modal-content-image {
  @media screen and (max-width: 767px) {
    display: none;
  }
  #modal__pet {
    height: 500px;
    width: 500px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        height: 350px;
        width: 350px;
    }
  }
}

.modal-content-data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 30px;
    color: black;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }

    @media screen and (max-width: 767px) {
      padding: 10px;
    }

  #modal__pet__name {
    color: black;
    margin-bottom: 10px;
    text-align: left;
    font-size: 35px;
    line-height: 44px;
    width: 100%;
    height: auto;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

#modal__type__breed {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 23px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-bottom: 20px;
    }

    @media screen and (max-width: 767px) {
      text-align: center;
    }
}

  #pet__description {
    margin-bottom: 40px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-bottom: 20px;
      font-size: 13px;
    }

    @media screen and (max-width: 767px) {

    }
  }
}