.btn__primary {
    /* Auto Layout */

    padding: 15px 0px 0px 45px;
    width: 207px;
    height: 52px;

    background: #F1CDB3;
    border-radius: 100px;
}

.btn__secondary {
    /* Auto Layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 187px;
height: 52px;


/* Inside Auto Layout */

flex: none;
order: 2;
align-self: center;
flex-grow: 0;
margin: 0px 30px;
}