* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/georgia_regular.ttf") format("opentype");
  font-weight: normal;
}

/************************* VARIABLES**************/
/**************************************************/
/***************** MIXINS  ************************/
/****************************************************/
/************ TEXTING CLASSES ***********************/
.logo__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  color: #F1CDB3;
  text-align: right;
  letter-spacing: 0.0834em;
  width: 100%;
}

.log__subtitle {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-align: right;
}

h2 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
}

h3 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

h4 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

h5 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.105em;
}

.paragraph-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
}

.pets__card__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 30px;
  margin-bottom: 30px;
}

.donation__description {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  font-style: italic;
  color: #B2B2B2;
}

/****************************************************/
/**************** BUTTONS  **************************/
.btn__primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  padding: 15px 45px 15px 45px;
  border: none;
  background: #F1CDB3;
  border-radius: 100px;
  letter-spacing: 0.09em;
  color: #292929;
}

.btn__primary:hover {
  cursor: pointer;
  background: #FDDCC4;
}

.btn__secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  padding: 0px;
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  letter-spacing: 0.06em;
  color: #292929;
  background: #F6F6F6;
}

.btn__secondary:hover {
  cursor: pointer;
  background: #FDDCC4;
}

.slider__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  padding: 23px 19px 23px 19px;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #F6F6F6;
  border-radius: 100px;
}

.slider__control:hover {
  cursor: pointer;
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.slider__control:first-child {
  margin-right: 53px;
}

.slider__control:last-child {
  margin-left: 53px;
}

/******************************************************/
.wrapper {
  width: 1280px;
  margin: 0 auto;
}

header, main, section, footer {
  width: 100%;
}

header {
  margin-top: 60px;
  background: transparent;
  height: 60px;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.shelter__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 184px;
  height: 60px;
}

.shelter__logo .shelter__logo {
  margin-top: 15px;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.header__nav ul .nav__link {
  text-decoration: none;
  margin-left: 35px;
  color: #CDCDCD;
}

.header__nav ul .nav__link:hover {
  cursor: pointer;
  color: #FAFAFA;
}

.header__nav ul .active__link {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
}

.hero__section {
  margin-top: -120px;
  padding-top: 180px;
  background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.hero__section .wrapper .section__content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.hero__section .wrapper .section__content__wrapper .hero__content h2 {
  color: #FFFFFF;
  width: 310px;
  /*letter-spacing: 0.04em;*/
}

.hero__section .wrapper .section__content__wrapper .hero__content .paragraph-l {
  margin-top: 42px;
  margin-bottom: 42px;
  width: 460px;
  color: #CDCDCD;
}

.hero__section .wrapper .section__content__wrapper .hero__content .btn__primary {
  margin-bottom: 243px;
}

.hero__section .wrapper .section__content__wrapper .hero__image__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/***** ABOUT SECTION *****************/
.about__section {
  background: #FFFFFF;
}

.about__section .wrapper {
  padding: 80px 40px 100px 40px;
}

.about__section .wrapper .section__content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__section .wrapper .section__content__wrapper .about__image__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 408px;
}

.about__section .wrapper .section__content__wrapper .about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 120px;
}

.about__section .wrapper .section__content__wrapper .about__content h3 {
  height: 90px;
  width: 370px;
  color: #545454;
  /* letter-spacing: 3px; */
}

.about__section .wrapper .section__content__wrapper .about__content .paragraph-l {
  width: 430px;
  margin-top: 25px;
  color: #4C4C4C;
}

/*************************************/
/******** PETS **********************/
.pets__section {
  background: #F6F6F6;
}

.pets__section .wrapper {
  padding: 80px 40px 100px 40px;
}

.pets__section .wrapper .section__content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets__section .wrapper .section__content__wrapper h3 {
  width: 400px;
  height: 90px;
  color: #545454;
  text-align: center;
  /*letter-spacing: 6.5px;*/
}

.slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;
}

.slider__container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FAFAFA;
  border-radius: 9px;
  width: 270px;
  height: 435px;
}

.slider__container .card:hover {
  cursor: pointer;
  background-color: #FFFFFF;
}

.slider__container .card:nth-child(2n + 1) {
  margin-left: 90px;
  margin-right: 90px;
}

/*.card {
    
padding: 30px 0px 0px 35px;


}*/
/************************************/
/************ HELP SECTION ***********/
/************************************/
.help__section .wrapper {
  padding: 80px 40px 100px 40px;
}

.help__section .wrapper .section__content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 87px;
  padding-right: 87px;
}

.help__section .wrapper .section__content__wrapper h3 {
  width: 308px;
  text-align: center;
  /*letter-spacing: 0.0935em;;*/
}

.help__icons__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 60px;
}

.help__icons__panel .first__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.help__icons__panel .second__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 55px;
  padding-left: 84px;
  padding-right: 84px;
}

.help__icon__wrapper {
  height: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help__icon__wrapper .help__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 60px;
}

.help__icon__wrapper h4 {
  /*letter-spacing: 0.1em;*/
}

/************* DONATE ***************/
.donate__section {
  background: #F6F6F6;
}

.donate__section .wrapper {
  padding: 80px 40px 100px 40px;
}

.donate__section .wrapper .section__content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donate__section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 284px;
  width: 380px;
  margin-left: 30px;
}

.donate__section__content h3 {
  width: 300px;
  height: 90px;
}

.donate__section__content h5 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.donate__section__content .credit__card {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
  padding: 10px 15px 10px 15px;
  background: #F1CDB3;
  border-radius: 9px;
  margin-bottom: 20px;
  color: #545454;
  text-decoration: none;
}

.donate__section__content .credit__card:hover {
  cursor: pointer;
  background: #FDDCC4;
}

.donate__section__content .credit__card .credit__card__image {
  height: 23px;
}

.donate__section__content .credit__card .credit__card__image img {
  height: 23px;
}

.donate__section__content .credit__card h4 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 15px;
}

/************************************/
/******* FOOTER ***********************/
footer {
  background: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  height: 350px;
}

footer .wrapper {
  padding: 40px 40px 0 40px;
}

footer .wrapper .section__content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .wrapper .section__content__wrapper section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 60px;
  height: 234px;
}

footer .wrapper .section__content__wrapper section h3 {
  height: 90px;
  color: #F6F6F6;
}

footer .wrapper .section__content__wrapper section .footer__nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #F1CDB3;
}

footer .wrapper .section__content__wrapper section .footer__nav__link h4 {
  margin-left: 20px;
}

footer .wrapper .section__content__wrapper .footer__contacts__section {
  max-width: 283px;
  margin-right: 160px;
}

footer .wrapper .section__content__wrapper .footer__image__wrapper {
  margin-left: 160px;
  height: 310px;
  width: 300px;
}

footer .wrapper .section__content__wrapper .footer__image__wrapper img {
  height: 310px;
  width: 300px;
}

/**************************************/
/*# sourceMappingURL=style.css.map */